:root {
    --primary-color: #e0354b;
  
    --font-family-base: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    --font-family-title: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  
    --font-size-small: 1.2rem;
    --font-size-medium: 1.6rem;
    --font-size-large: 1.8rem;
    --font-size-x-large: 2.3rem;
    --font-size-xx-large: 4.8rem;
}

.App-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-style: italic;
    font-size: var(--font-size-small);
}

hr {
    background-color: var(--primary-color);
    border: none;
    width: 98%;
    height: 6px;
    font-size: calc(10px + 2vmin);
}